# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: format
        name: Cargo Format
        description: "Format files with rustfmt."
        entry: cargo fmt -- --check
        language: rust
        files: \.rs$
    -   id: lint
        name: Cargo Lint
        description: "Lint files with clippy."
        entry: cargo clippy --workspace -- -D warnings
        language: rust
        pass_filenames: false
    -   id: test
        name: Cargo Test
        description: "Run tests with cargo test."
        entry: cargo test --workspace
        language: rust
        pass_filenames: false
    -   id: build
        name: Cargo Build
        description: "Build with cargo build."
        entry: cargo build
        language: rust
        files: \.rs$
        pass_filenames: false
        args: [--all-targets, --all-features]
    -   id: commit-msg-check
        name: Check commit message
        description: "Check if the commit message follows the Conventional Commits format."
        entry: scripts/commit-msg.sh
        language: script
        stages: [commit-msg]
